body {
    margin: 0;
    width: 100vw;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    overflow: hidden;
}

.App {
    overflow: hidden;
    height: 100vh;
}

.Profile {
    width: 100vw;
    height: 20%;
    gap: 0px 0px;
    position: relative;
    display: flex;
    margin: 0 0 0 5em;
    overflow: hidden;
}

.Profile>#Profile_Picture {
    position: relative;
    /* margin-bottom: 100px; */
    top: 3em;
    border: 1px solid black;
    border-radius: 75%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
}

#Profile_Picture>img {
    width: 5rem;
    position: relative;
}

.Profile>.Content {
    position: relative;
    margin: 3em 0 0 3em;
}

#profile_content>h1 {
    font-size: 1rem;
    text-align: left;
    margin: 0;
}

#profile_content>p {
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;
    text-align: left;
    margin: 15px auto 25px auto;
}

#profile_content>button {
    cursor: pointer;
    transition: 250ms all;
}

#profile_content>button:first-of-type {
    background: #9BADF2;
    border: none;
    border-radius: 20px;
    width: 7em;
    font-size: 1rem;
    padding: 5px;
    color: white;
    margin-right: 20px;
}

#profile_content>button:first-of-type:hover {
    background: #9bacf28e;
}

#profile_content>button:nth-of-type(2) {
    background: white;
    border: 1px solid #9BADF2;
    border-radius: 20px;
    width: 7em;
    font-size: 1rem;
    padding: 5px;
    color: #9BADF2;
    margin-right: 20px;
}

#profile_content>button:nth-of-type(2):hover {
    border: 1px solid #9bacf28a;
    background: rgba(255, 255, 255, 0.473);
    color: #9bacf2a2;
}

.Profile>.AboutMeQuote {
    margin-left: 50px;
}

.Profile>.AboutMeQuote>p {
    font-size: 16px;
}

.Profile>.AboutMeQuote>h1 {
    width: 300px;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    color: #9e8c8c;
}

.Profile>.AboutMeQuote>h1::before {
    font-weight: 700;
    color: #2e2a2a;
    position: absolute;
    top: 0px;
    left: -12px;
    opacity: 75%;
    font-size: 10px;
    content: "\\\\";
}

.Profile>.AboutMeQuote>h1::after {
    font-size: 10px;
    color: #2e2a2a;
    bottom: 0px;
    right: -10px;
    position: absolute;
    font-weight: 700;
    content: '//';
}

img {
    width: 2rem;
}

.Education {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: auto;
    margin: 0px 0 0 5em;
}

.Education>h1 {
    text-align: left;
    font-size: 2rem;
    margin: auto auto 0.5em 0;
}

.Education>.EduSection {
    margin: auto auto 0.5em 1em;
    display: flex;
}

.EduSection>.icon {
    float: left;
    margin: auto 1em auto 0;
}

.EduSection>.Content {
    margin-left: 0.5em;
}

.EduSection>.Content>h1 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin: 0.2em 0 0.2em 0;
}

.EduSection>.Content>p:first-of-type {
    font-weight: 400;
    color: #7b6f6fc7;
    text-align: left;
    margin: 0.2em 0 0.2em 0;
}

.EduSection>.Content>p:nth-of-type(2) {
    font-weight: 400;
    color: #7b6f6f63;
    text-align: left;
    margin: 5px 0 5px 0;
}

.vl {
    position: absolute;
    border-left: 6px solid black;
    top: 80px;
    height: 480px;
    width: 1px;
    background: red;
    margin-left: 0.5em;
}

.Experiance {
    position: relative;
    width: 500px;
    height: 230px;
    display: flex;
    flex-direction: column;
    margin-left: 5em;
}

.Experiance>h1 {
    text-align: left;
    font-size: 2rem;
}

.ExpSection {
    position: relative;
    display: flex;
    margin: 2em 0 0 0;
}

.ExpSection>#dot {
    width: 1%;
    height: 6%;
    background: white;
    border-radius: 75%;
    border: 0.3em solid black;
    margin: auto 0 auto 0.2em;
}

#dot>hr {
    position: relative;
    width: 3em;
    margin: 0em 0 auto 0.5em;
    border: 0.2em solid black;
    background-color: black;
}

.ExpSection>.Picture {
    margin: auto 0 auto 3.1em;
    border: 0.2em solid black;
    border-radius: 10px;
    height: 75%;
    width: 11%;
    display: flex;
    background: transparent;
    overflow: hidden;
    padding: 0.5em;
}

#UWTech {
    background: #550091;
}

#UWTechIcon {
    margin: auto;
}

.ExpSection>.Picture>img {
    margin: 0.5em auto;
}

.ExpSection>.Content {
    margin: auto 0 auto 0;
}

.ExpSection>.Content>p:first-of-type {
    color: #7B6F6F;
    margin: 0 0 1px 1.2em;
    text-align: left;
    font-size: 1rem;
    opacity: 0.5;
}

.ExpSection>.Content>h1 {
    margin: 0.2em 0 0 1em;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: left;
}

.ExpSection>.Content>p {
    color: #7B6F6F;
    margin: 0.2em 0 auto 1.2em;
    text-align: left;
    font-weight: 400;
}

.Projects {
    position: relative;
    float: right;
    /* margin: auto 1em auto; */
    margin-top: -37em;
    width: 55%;
    top: 0;
    height: 100%;
    text-align: left;
}

.Projects>.ProjSection {
    height: 100%;
    width: 100%;
    background: red;
}

.Project {
    border: 5px solid black;
    max-width: 30%;
    border-radius: 15px;
    height: 45%;
}

.Project>#Highlight {
    border: 5px solid black;
    margin: 0.8em auto 0 auto;
    width: 85%;
    border-radius: 15px;
    min-height: 8em;
}

.Project>#Title {
    font-size: 1rem;
    text-align: center;
    margin-top: 0.5em;
}


/* @media only screen and (min-height: 500px) {
    .Profile {
        height: calc(280 - 20vh)
    }
    .Profile>#Profile_Picture {
        height: calc(280px - 20vh);
        width: calc(280px - 20vh);
        overflow: hidden;
    }
    .Profile>#Profile_Picture>img {
        height: 50px;
        width: 50px;
        margin-top: 2px;
    }
    #profile_content>h1 {
        font-size: 21px;
    }
    #profile_content>p {
        font-size: 14px;
        margin: 5px auto 15px auto;
    }
    #profile_content>button:first-of-type {
        font-size: 16px;
        width: 120px;
    }
    #profile_content>button:nth-of-type(2) {
        font-size: 16px;
        width: 120px;
    }
    .Education {
        margin-top: 60px;
    }
    .Education>h1 {
        font-size: 21px;
    }
    .EduSection>.Content>h1 {
        font-size: 14px;
    }
    .EduSection>.Content>p:first-of-type {
        font-size: 12px;
    }
    .EduSection>.Content>p:nth-of-type(2) {
        font-size: 12px;
    }
    .EduSection>img {
        height: 50px;
        width: 50px;
        margin: 10px 0 0 0;
    }
    .Experiance>h1 {
        font-size: 21px;
    }
    .vl {
        border-left: 3px solid black;
    }
    .ExpSection>#dot {
        width: 10px;
        height: 10px;
        border: 5px solid black;
        margin-left: 1px;
    }
    #dot>hr {
        border: 3px solid black;
        margin: 3px 0 auto 10px;
    }
    .ExpSection>.Picture {
        margin: auto 0 auto 41px;
    }
    .ExpSection>.Picture>img {
        width: 75px;
        height: 75px;
    }
    .ExpSection>.Content>p {
        font-size: 12px;
    }
    .ExpSection>.Content>h1 {
        font-size: 16px;
    }
} */